.notification_container{
    padding-right: 40px;
    padding-left: 40px;
}
.notification_container_unread{
    display: flex;
    background-color: lightgray;
    align-items: center;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
}
.notification_container_read{
    display: flex;
    background-color: white;
    align-items: center;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
}
.notification_sender{
    flex: 1;
    align-items: "center";
}
.notification_vector{
    flex: 1;
    align-items: "center";
}
.notification_invite{
    flex: 6;
    align-items: "center";
}
.notification_timestamp{
    flex: 2;
    align-items: "center";
}
.notification_view{
    flex: 1;
    align-items: "center";
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid rgba(0,0,0,0.1);
}